{% extends 'base.html.twig' %}

{% block body %}
    <h1>Il y a un quack avec ce quack</h1>
    <p>Ce quack n'existe plus !</p>
    <a href="{{ path('index') }}">Retour aux quacks</a>
{% endblock %}

{% block title %}
    Quack
{% endblock %}

