{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ce canard est sous l'eau</h1>
    <p>Il est parti voler vers d'autres cieux</p>

    <a href="{{ path('index') }}">Retour aux quacks</a>
{% endblock %}

{% block title %}
    Coin
{% endblock %}

